*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dfdbd8;
}

/* TITLE */
.etch{
    width: 100%;
    margin: 50px auto;
    font-size: 75px;
    text-align: center;
    font-family: Courier;
}

/* CONTENT */
.container{
    display: flex;
    justify-content: space-between;
    font-family: monospace;
}

/* OPTIONS */
.container > .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 200px;
}

/* COLOR DİV */
.container > .options > .color{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* INPUT */
.container > .options > .color > input{
    width: 60px;
    margin-top: 10px;
}

/* BUTTONS*/
.container > .options > .buttons{
    width: 200px;
}

.container > .options > .buttons > button{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    font-size: 15px;
    background: #dfdbd8;
    cursor: pointer;
    border-radius: 10px;
    border: 1px black solid;
}

/* BUTTONS HOVER */
.container > .options > .buttons > button:hover{
    background-color: #b5c2c7;
    transition: all .5s;
    transform: scale(1.075 , 1.075);
}

/* ACTIVE */
.container > .options > .buttons > .active{
    background-color: #dbb2a5;
    color: black;

}

/* ACTIVE HOVER */
.container > .options > .buttons > .active:hover{
    background-color: #b5c2c7;
    color: black;
}

/* RANGE */
.container > .options > .frame{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.container > .options > .frame > .rangeNumber{
    margin-bottom: 10px;
}
/* SQUARE */
.container > .square{
    width: 500px;
    height: 500px;
    position: relative;
    right: 515px;
    background-color: #b5c2c7;
}

/* FOOTER */
.footer{
    width: 100%;
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
}